[section#atomics.types.operations.templ
    [:en] Templated operations on atomic types
]

[para]
[:en] The implementation shall declare but not define the function templates
identified as ["templated operations on atomic types] in [#atomics.syn].
